In [6]:
import pandas as pd

# Load with 'utf-8-sig' to handle the weird characters at the start
file_path = '../data/raw/online_retail_2009_2010.csv'
df = pd.read_csv(file_path, encoding='utf-8-sig')

# lets map the original names to clean ones
df.rename(columns={
    'InvoiceNo': 'invoice_no',
    'StockCode': 'stock_code',
    'Description': 'description',
    'Quantity': 'quantity',
    'InvoiceDate': 'invoice_date',
    'UnitPrice': 'unit_price',
    'CustomerID': 'customer_id',
    'Country': 'country'
}, inplace=True)

print("Columns are now clean:", df.columns.tolist())
df.head()

Columns are now clean: ['invoice_no', 'stock_code', 'description', 'quantity', 'invoice_date', 'unit_price', 'customer_id', 'country']

,invoice_no,stock_code,description,quantity,invoice_date,unit_price,customer_id,country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,12/1/2009 7:45,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,12/1/2009 7:45,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,12/1/2009 7:45,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,12/1/2009 7:45,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,12/1/2009 7:45,1.25,13085.0,United Kingdom

In [7]:
df.info()

# Check for missing values
print("\nMissing Values:")
print(df.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525461 entries, 0 to 525460
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   invoice_no    525461 non-null  object
 1   stock_code    525461 non-null  object
 2   description   522533 non-null  object
 3   quantity      525461 non-null  int64
 4   invoice_date  525461 non-null  object
 5   unit_price    525461 non-null  float64
 6   customer_id   417534 non-null  float64
 7   country       525461 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 32.1+ MB

Missing Values:
invoice_no           0
stock_code           0
description       2928
quantity             0
invoice_date         0
unit_price           0
customer_id     107927
country              0
dtype: int64

In [ ]:
there are lots of missing values, so lets do what have to be done.

In [8]:
# Print all column names as a list to see hidden spaces or exact spelling
print(df.columns.tolist())

['invoice_no', 'stock_code', 'description', 'quantity', 'invoice_date', 'unit_price', 'customer_id', 'country']

In [9]:
# 1. Check for negative quantities (Returns/Cancellations)
neg_quantity = df[df['quantity'] < 0]
print(f"Rows with negative quantity: {len(neg_quantity)}")

# 2. Check for negative prices (Errors?)
neg_price = df[df['unit_price'] < 0]
print(f"Rows with negative price: {len(neg_price)}")

# 3. Check duplicate rows
duplicates = df.duplicated().sum()
print(f"Duplicate rows: {duplicates}")

Rows with negative quantity: 12326
Rows with negative price: 3
Duplicate rows: 6865